<% title "Contact Us" %>

<h1>Contact Us</h1>
<p>
    Please leave us a message along with your name and email and we will get back to you as soon as possible.
    <br/>
    <b>Thank You!</b>
</p>
<%= form_with model: @contact_form, url: '/contact', remote: true do |f| %>
    <div class="form-group">
        <b><%= f.label :name %></b>
        <%= f.text_field :name, class: 'form-control' %>
        <b><%= f.label :email %></b>
        <%= f.text_field :email, class: 'form-control' %>
        <b><%= f.label :message %></b>
        <%= f.text_area :message, class: 'form-control', style: 'min-height: 100px' %>
    </div>
    <%= f.submit "Send", class: "btn btn-success mb-4 w-20" %>
<% end %>