<h4>The following user has requested a refund</h4>
<p><b>Name:</b> <%= @user.name %></p>
<p><b>Email:</b> <%= @user.email %></p>
<h4>Returning the following products</h4>
<%= @products.each do |product| %>
    <p><b>Size</b> <%= product[0] %>"</p>
    <p><b>Quality</b> <%= product[1] %></p>
    <p><b>Quantity</b> <%= product[2] %></p>
    <br />
<% end %>
<h4>Order Details</h4>
<p><b>Order Number:</b> <%= @order_number %></p>
<p><b>Payment Intent ID:</b> <%= @payment_intent_id %></p>
<p>Use the payment intent ID to issue a refund on Stripe once the return order is recieved</p>