<div class="row mb-5">
  <div class="col-12">
    <h3>Account Information</h3>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', id: 'name_field', placeholder: "Billing Name" %>
    <div id = "name_error" class="help-block"></div>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', id: 'email_field', placeholder: "Email" %>
    <div id = "email_error" class="help-block"></div>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', id: 'password_field', placeholder: "Password" %>
    <div id = "password_error" class="help-block"></div>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation_field', placeholder: "Password Confirmation" %>
    <div id = "password_confirmation_error" class="help-block"></div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-12">
    <h3>Shipping Information</h3>
    <%= fields_for :shipping_address, @shipping_address do |shipping_fields| %>
      <%= shipping_fields.label :address1, "Address Line 1" %>
      <%= shipping_fields.text_field :address1, class: 'form-control', id: 'address1_field', placeholder: "Address line 1" %>
      <div id = "address1_error" class="help-block"></div>

      <%= shipping_fields.label :address2, "Address Line 2" %>
      <%= shipping_fields.text_field :address2, class: 'form-control', id: 'address2_field', placeholder: "Address line 2" %>

      <%= shipping_fields.label :city, "City" %>
      <%= shipping_fields.text_field :city, class: 'form-control', id: 'city_field', placeholder: "City" %>
      <div id = "city_error" class="help-block"></div>

      <%= shipping_fields.label :state, "State" %>
      <%= shipping_fields.text_field :state, class: 'form-control', id: 'state_field', placeholder: "State" %>
      <div id = "state_error" class="help-block"></div>

      <%= shipping_fields.label :postal, "Zip Code" %>
      <%= shipping_fields.text_field :postal, class: 'form-control', id: 'postal_field', placeholder: "Zip code" %>
      <div id = "postal_error" class="help-block"></div>

      <%= shipping_fields.label :phone, "Phone Number" %>
      <%= shipping_fields.telephone_field :phone, class: 'form-control', id: 'phone_field', placeholder: "Phone Number" %>
      <div id = "phone_error" class="help-block"></div>
    <% end %>
  </div>
</div>