<div class="card mb-2">
    <div class="card-header">
        <h5>Subscription #<%= (order_option_counter + 1) %></h5>
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <h5 class="col-12">Vehicle</h5>
            <div class="col-12"><%= get_vehicle_name(order_option.vehicle_id) %></div>
        </div>
        <div class="row mb-2">
            <h5 class="col-12">Wiper Type</h5>
            <div class="col-12"><%= get_wipertype_string(order_option.wipertype) %></div>
        </div>
        <div class="row mb-2">
            <h5 class="col-12">Frequency</h5>
            <div class="col-12"><%= get_frequency_string(order_option.frequency) %></div>        
        </div>
        <div class="row mb-2">
            <h5 class="col-12">Shipping Address</h5>
            <div class="col-12">
                <%= @shipping_address.address1 %>
                <%= @shipping_address.address2 %>
                <br />
                <%= @shipping_address.city %>,
                <%= @shipping_address.state %>
                <%= @shipping_address.postal %>
            </div>
        </div>
        <div class="row mb-3">
            <h5 class="col-12">Next Shipment</h5>
            <div class="col-12"><%= order_option.get_next_shipment_date %></div>
        </div>
        <div class="row mb-3">
          <h5 class="col-12">Subscription Price</h5>
          <div class="col-12"><%= calc_total_price(order_option.total_price) %></div>
      </div>
        <%= link_to "Edit Subscription", edit_vehicle_path(:id => order_option.id), class: 'btn btn-success mb-2 w-75' %>
        <button type="button" class="btn btn-danger w-75" data-toggle="modal" data-target="#modal">Cancel Subscription</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cancel Subscription</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to cancel this subscription?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= link_to "Cancel Subscription", vehicle_path(order_option.id), method: :delete, class: 'btn btn-danger variable-width' %>
        </div>
      </div>
    </div>
  </div>

