<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_include_tag "stripe.js" %>
<%= javascript_pack_tag "checkouts" %>

<div class="row">
  <div class="col-12">
    <h1><b>Checkout</b></h1>
  </div>
  <div class="col-lg-5 col-12">
    <div id="user-details">
      <%= render 'users/new' %>
    </div>
    <div class="row mb-5">
      <div class="col-12">
        <h1>Billing Information</h1>
        <div class="gray-box-rounded">
          <div id="card-element" class="MyCardElement"></div>
          <div id="card-element-errors" role="alert"></div>
        </div>
      </div>
    </div>
    <input type="submit" name="commit" value="Submit Order" form="user-form"  id="submit-button" class="btn btn-primary" data-disable-with="Submit Order">
  </div>
  <div class="col-lg-7 col-12">
    <div style="top: 50px; position: sticky;">
      <h1>Review Order</h1>
      <div class="gray-box-rounded">
        <div class="row">
          <div class="col-6">
            <h2>Vehicles</h2>
            <%= render partial: "order_option", collection: (@order_options) %>
          </div>
          <div class="col-6">
            <h2>Total Price: <%= pretty_amount(@price) %></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>