<% provide(:title, "Create New Subscription") %>
<%= javascript_pack_tag "checkouts" %>

<% content_for :head do %>
    <meta name="turbolinks-visit-control" content="reload">
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<noscript>
    <meta http-equiv="refresh" content="2;url=/javascript-warning">
</noscript>

<input type="hidden" id="num_vehicles" name="numVehicles" value="<%= @existing_vehicles.nil?? 0 : @existing_vehicles.count %>" disabled="true">


<div class="row">
    <div class="col-12">
        <h1>Create a New Subscription</h1>
    </div>
    <div class="container full-width p-0 p-md-auto">
        <div id="smartwizard">
            <ul class="nav">
                <li><a class="nav-link" href="#step-1">Step 1<br /><small>Select Vehicle</small></a></li>
                <li><a class="nav-link" href="#step-2">Step 2<br /><small>Pick Quality</small></a></li>
                <li><a class="nav-link" href="#step-3">Step 3<br /><small>Choose Frequency</small></a></li>
                <li><a class="nav-link" href="#step-4">Step 4<br /><small>Review</small></a></li>
            </ul>
            <%= form_for @order_options, url: checkouts_path, html: { id: 'vehicle-form' }, local: true do |f| %>
                <input type="hidden" id="submit" name="submit" value="true">
                <input type="hidden" id="new_vehicle" name="new_vehicle" value="<%= @new_vehicle %>">
                <div class="tab-content">
                    <div id="step-1" class="row mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto">
                            <h1>Select Vehicle</h1>
                            <%= f.label :Make %>
                            <%= select_tag "", options_from_collection_for_select(@makes, "id", "make"), 
                                id: "make-selector", include_blank: true, class: 'form-control make-selector' %>
                            <%= f.label :Model %>
                            <%= select_tag "", "", id: "model-selector", include_blank: true, class: 'form-control model-selector' %>
                            <%= f.label :Year %>
                            <%= f.select :vehicle_id, 'vehicle_id', { include_blank: true }, { id: 'vehicle-id', class: 'form-control year-selector' } %>
                        </div>
                    </div>
                    <div id="step-2" class="row mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-6 offset-md-3">
                            <h1>Select Quality</h1>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 mb-2">
                                    <%= f.radio_button :quality, 'good', :id => 'good-button' %>Good
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2">
                                    <%= f.radio_button :quality, 'better', :id => 'better-button' %>Better
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2">
                                    <%= f.radio_button :quality, 'best', :id => 'best-button' %>Best
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="step-3" class="row mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-6 offset-md-3">
                            <h1>Select Frequency</h1>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-5 mb-2">
                                    <%= f.radio_button :frequency, 'six_months', :id => 'months-button' %>
                                    Every 6 Months
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-5 offset-md-1 mb-2">
                                    <%= f.radio_button :frequency, 'one_year', :id => 'year-button' %>
                                    Every 12 Months
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="step-4" class="row mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 mb-4">
                            <div class="row justify-content-center">
                                <% if !@existing_vehicles.nil? %>
                                    <%= render partial: "order_option", collection: @existing_vehicles %>
                                <% end %>
                                <% if !@existing_vehicles.nil? && @existing_vehicles.count < 3 %>
                                    <div class="col-12 col-md-4 text-center" id="vehicle_preview">
                                        <div class="border border-secondary rounded p-2  ml-2 mr-2 ">
                                            <h4>Vehicle</h4>
                                            <p id="vehicle-preview"></p>
                                            <h4>Quality</h4>
                                            <p id="quality-preview"></p>
                                            <h4>Frequency</h4>
                                            <p id="frequency-preview"></p>
                                        </div>
                                        <div class="p-2">
                                            <button type="button" class="btn btn-danger w-100 mt-3" data-toggle="modal" data-target="#current_modal">Remove Vehicle</button>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="current_modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger" id="remove_current_vehicle" data-dismiss="modal">Remove Vehicle</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>            
                                <% end %>   
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto">
                            <% if @existing_vehicles.nil? || @existing_vehicles.count < 2 %>
                                <%= f.submit "Add Another Vehicle", :name => 'new_vehicle', class: "btn btn-primary mb-4 w-100" %>
                            <% end %>
                            <%= f.submit "Continue to Checkout", :name => 'continue', id: 'continue_button', class: "btn btn-success mb-4 w-100" %>
                        </div>
                    </div>
                </div>
                <!-- <button class="btn btn-success" id="review_button" type="button">Continue to Review</button> -->
            </div>
        <% end %>
    </div>
</div>