<% title "Checkout" %>

<%= javascript_include_tag "https://js.stripe.com/v3/" %>
<%= javascript_pack_tag "payment" %>

<% content_for :head do %>
    <meta name="turbolinks-visit-control" content="reload">
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<h1>Checkout</h1>
<br></br>
<%= form_for @user, url: payments_path, html: { id: 'user-form', 'data-type' => 'json' }, remote: true do |f| %>
    <div class="d-flex flex-wrap-reverse">
        <div class="col-12 col-md-5">
            <div id="user-details">
                <%= render :partial => 'users/new', :locals => { :f => f } %>
            </div>
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="privacy_check">
                <label class="form-check-label" for="privacy_check">
                    Accept <a data-toggle="modal" data-target="#modal" style="color:blue; cursor:pointer">privacy policy?</a>
                </label>
            </div>
            <%= render "shared/privacy_policy" %>
            <%= f.button "Continue to Payment", id:"submit-button", class: "btn btn-primary w-100 mb-4" %>
        </div>
        <div class="col-12 col-md-7">
            <div class="sticky-top">
                <h4 class="d-none d-md-block">Review Order:</h4>
                <div class="row">
                    <%= render partial: "order_option", collection: @selected_vehicles %>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <%= link_to 'Edit Vehicles', new_checkout_path, class: "btn btn-success w-100 ml-auto mr-auto", id: "edit-button" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>