<% title "Edit Subscription" %>
<%= javascript_pack_tag 'edit' %>

<noscript>
    <meta http-equiv="refresh" content="2;url=/javascript-warning">
</noscript>
<meta name="turbolinks-cache-control" content="no-cache">

<div class="row">
    <div class="col-12">
        <h1>Update Subscription</h1>
    </div>
    <div class="container full-width p-0 p-md-auto">
        <div id="smartwizard">
            <ul class="nav">
                <li><a class="nav-link" href="#step-1">Step 1<br /><small>Edit Vehicles</small></a></li>
                <li><a class="nav-link" href="#step-2">Step 2<br /><small>Pick Quality</small></a></li>
                <li><a class="nav-link" href="#step-3">Step 3<br /><small>Choose Frequency</small></a></li>
                <li><a class="nav-link" href="#step-4">Step 4<br /><small>Shipping</small></a></li>
                <li><a class="nav-link" href="#step-5">Step 5<br /><small>Review & Confirm</small></a></li>
            </ul>
            <%= form_for @order_options, url: vehicle_path, local: true do |f| %>
                <div class="tab-content">
                    <div id="step-1" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                            <h1>Edit Vehicle</h1>
                            <% vehicle_details = get_vehicle_details(@order_options.vehicle_id) %>
                            <%= f.label :Make %>
                            <%= select_tag "", options_from_collection_for_select(@makes, "id", "make", get_dropdown_value_make(vehicle_details[:make])), 
                                id: "make-selector", class: 'form-control make-selector' %>
                            <%= f.label :Model %>
                            <%= select_tag "", options_for_select(@models.map { |obj| [obj['model'], obj['id']]}, get_dropdown_value_model(vehicle_details[:make], vehicle_details[:model])),
                                id: "model-selector", class: 'form-control model-selector' %>
                            <%= f.label :Year %>
                            <%= select_tag 'order_option[vehicle_id]', 
                            options_for_select(@years.map { |obj| [obj['year'], obj['id']]}, get_dropdown_value_year(vehicle_details[:make], vehicle_details[:model], vehicle_details[:year])), 
                            id: 'vehicle-id', class: 'form-control year-selector' %>
                        </div>
                    </div>
                    <div id="step-2" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-md-6 offset-md-3">
                            <h1>Select Quality</h1>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 mb-2 <%= (@order_options.quality == 'good') ? 'active' : '' %>">
                                    <%= f.radio_button :quality, 'good', :id => 'good_button', checked: (@order_options.quality == 'good') %>Good
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2 <%= (@order_options.quality == 'better') ? 'active' : '' %>">
                                    <%= f.radio_button :quality, 'better', :id => 'better_button', checked: (@order_options.quality == 'better') %>Better
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2 <%= (@order_options.quality == 'best') ? 'active' : '' %>">
                                    <%= f.radio_button :quality, 'best', :id => 'best_button', checked: (@order_options.quality == 'best') %>Best
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <p><b>Recommendation #1:&nbsp</b>Do you drive through snow and ice in the winter?  We recommend you select a Good or Better quality wiper and a frequency of Every 6 months.  Ice and snow on your windshield will damage your wipers so it is a good idea to replace them more frequently.</p>
                            <p><b>Recommendation #2:&nbsp</b>Do you live in a temperate climate?  We recommend you select a Best quality wiper and replace them Every 12 months.  This will ensure good clear driving all year long.</p>
                            <p><b>Recommendation #3:&nbsp</b>Do you live in a very sunny and/or hot climate?  We recommend you select a Good or Better quality wiper and a frequency of Every 6 months.  Sun and heat can dry out the rubber on a wiper blade and cause streaking on your windshield.</p>
                        </div>
                    </div>
                    <div id="step-3" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-6 offset-md-3">
                            <h1>Select Frequency</h1>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-5 mb-2 <%= (@order_options.frequency == 'six_months') ? 'active' : '' %>">
                                    <%= f.radio_button :frequency, 'six_months', :id => 'months_button', checked: (@order_options.frequency == 'six_months') %>
                                    Every 6 Months
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-5 offset-md-1 mb-2 <%= (@order_options.frequency == 'one_year') ? 'active' : '' %>">
                                    <%= f.radio_button :frequency, 'one_year', :id => 'year_button', checked: (@order_options.frequency == 'one_year') %>
                                    Every 12 Months
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="step-4" class="mt-4 tab-pane smartwizard-tab h-auto" role="tabpanel">
                        <div class="col-12">
                            <h1>Shipping Information</h1>
                            <div class="p-3">
                                <%= f.fields_for :shipping_addresses do |shipping_fields| %>
                                <%= shipping_fields.label :address1, "Address Line 1" %>
                                <%= shipping_fields.text_field :address1, class: 'form-control', id: 'address1_field', placeholder: "Address line 1", value: @shipping_address.address1 %>
                                <div id = "address1_error" class="help-block"></div>

                                <%= shipping_fields.label :address2, "Address Line 2" %>
                                <%= shipping_fields.text_field :address2, class: 'form-control', id: 'address2_field', placeholder: "Address line 2", value: @shipping_address.address2 %>

                                <%= shipping_fields.label :city, "City" %>
                                <%= shipping_fields.text_field :city, class: 'form-control', id: 'city_field', placeholder: "City", value: @shipping_address.city %>
                                <div id = "city_error" class="help-block"></div>

                                <%= shipping_fields.label :state, "State" %>
                                <%= shipping_fields.text_field :state, class: 'form-control', id: 'state_field', placeholder: "State", value: @shipping_address.state %>
                                <div id = "state_error" class="help-block"></div>

                                <%= shipping_fields.label :postal, "Zip Code" %>
                                <%= shipping_fields.text_field :postal, class: 'form-control mb-4', id: 'postal_field', placeholder: "Zip code", value: @shipping_address.postal %>
                                <div id = "postal_error" class="help-block"></div>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <div id="step-5" class="mt-4 tab-pane smartwizard-tab h-auto" role="tabpanel">
                        <div class="col-12 col-lg-8 offset-lg-2">
                            <h1>Review Details</h1>
                            <div class="gray-box-rounded">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="row mb-2">
                                            <h5 class="col-12">Vehicle</h5>
                                            <div id="vehicle-preview" class="vehicle-preview col-12"><%= get_vehicle_name(@order_options.vehicle_id) %></div>
                                        </div>
                                        <div class="row mb-2">
                                            <h5 class="col-12">Quality</h5>
                                            <div id="quality_preview" class="col-12"><%= get_quality_string(@order_options.quality) %></div>
                                        </div>
                                        <div class="row mb-2">
                                            <h5 class="col-6">Frequency</h5>
                                            <div id="frequency_preview" class="col-12"><%= get_frequency_string(@order_options.frequency) %></div>
                                        </div>
                                        <div class="row"> 
                                            <h5 class="col-12">Shipping Address</h5>
                                            <div class="col-12" id="shipping_preview"><%= get_shipping_string(@shipping_address) %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%= f.button "Update Subscription", class: "btn btn-success w-100 mt-4 mb-2" %>
                            <a class="btn btn-danger w-100 mb-4" type="button" href="<%= user_path(id: @order_options.user_id) %>" id="cancel-button">Cancel Changes</a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>      
</div>