<% title "Add Vehicle" %>
<%= javascript_pack_tag "checkouts" %>

<noscript>
    <meta http-equiv="refresh" content="2;url=/javascript-warning">
</noscript>
    
<div class="row">
    <div class="col-12">
        <h1>Add a new vehicle</h1>
    </div>
    <div class="container full-width p-0 p-md-auto">
        <div id="smartwizard">
            <ul class="nav">
                <li><a class="nav-link" href="#step-1">Step 1<br /><small>Select Vehicle</small></a></li>
                <li><a class="nav-link" href="#step-2">Step 2<br /><small>Pick Wiper Type</small></a></li>
                <li><a class="nav-link" href="#step-3">Step 3<br /><small>Choose Frequency</small></a></li>
                <li><a class="nav-link" href="#step-4">Step 4<br /><small>Review</small></a></li>
            </ul>
            <%= form_for @order_options, url: vehicles_path, html: { id: 'vehicle-form' }, local: true do |f| %>
                <div class="tab-content">
                    <div id="step-1" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                            <h1>Select Vehicle</h1>
                            <%= f.label :Make %>
                            <%= select_tag "", options_from_collection_for_select(@makes, "id", "make"), 
                                id: "make-selector", include_blank: true, class: 'form-control make-selector' %>
                            <%= f.label :Model %>
                            <%= select_tag "", "", id: "model-selector", include_blank: true, class: 'form-control model-selector' %>
                            <%= f.label :Year %>
                            <%= f.select :vehicle_id, 'vehicle_id', { include_blank: true }, { id: 'vehicle-id', class: 'form-control year-selector' } %> 
                        </div>
                    </div>
                    <div id="step-2" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-6 offset-md-3">
                            <h1>Select Wiper Type</h1>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2">
                                    <%= f.radio_button :wipertype, 'beam', :id => 'beam-button' %>Beam
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2">
                                    <%= f.radio_button :wipertype, 'hybrid', :id => 'hybrid-button' %>Hybrid
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="step-3" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-6 offset-md-3">
                            <h1>Select Frequency</h1>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-5 mb-2">
                                    <%= f.radio_button :frequency, 'six_months', :id => 'six_months-button' %>
                                    Every 6 Months
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2">
                                    <%= f.radio_button :frequency, 'nine_months', :id => 'nine_months-button' %>Every 9 Months
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-5 offset-md-1 mb-2">
                                    <%= f.radio_button :frequency, 'one_year', :id => 'year-button' %>
                                    Every 12 Months
                                </label>
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <p><b>Recommendation #1:&nbsp</b>Do you drive through snow and ice in the winter?  We recommend you select a <b>Hybrid wiper</b> and a frequency of Every 6 months</b>.  Ice and snow on your windshield will damage your wipers so it is a good idea to replace them more frequently.</p>
                            <p><b>Recommendation #2:&nbsp</b>Do you live in a temperate climate?  We recommend you select a <b>Beam wiper</b> and replace them <b>Every 9-12 months</b>.  This will ensure good clear driving all year long.</p>
                            <p><b>Recommendation #3:&nbsp</b>Do you live in a very sunny and/or hot climate?  We recommend you select a <b>Beam wiper</b> and a frequency of <b>Every 6 months</b>.  Sun and heat can dry out the rubber on a wiper blade and cause streaking on your windshield.</p>
                        </div>
                    </div>
                    <div id="step-4" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 mb-4">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8 text-center">
                                    <div class="border border-secondary rounded p-2  ml-2 mr-2 ">
                                        <h4>Vehicle</h4>
                                        <p id="vehicle-preview"></p>
                                        <h4>Type</h4>
                                        <p id="wipertype-preview"></p>
                                        <h4>Frequency</h4>
                                        <p id="frequency-preview"></p>
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto">
                            <%= f.submit "Place Order", class: "btn btn-success mb-4 w-100" %>
                            <a class="btn btn-danger w-100 mb-4" type="button" href="<%= user_path(id: @user_id) %>">Cancel Changes</a>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>