<% title "Add Vehicle" %>
<%= javascript_pack_tag "checkouts" %>

<noscript>
    <meta http-equiv="refresh" content="2;url=/javascript-warning">
</noscript>
    
<div class="row">
    <div class="col-12">
        <h1>Add a New Vehicle</h1>
    </div>
    <div class="container full-width p-0 p-md-auto">
        <div id="smartwizard">
            <ul class="nav">
                <li><a class="nav-link" href="#step-1">Step 1<br /><small>Select Vehicle</small></a></li>
                <li><a class="nav-link" href="#step-2">Step 2<br /><small>Pick Wiper Type</small></a></li>
                <li><a class="nav-link" href="#step-3">Step 3<br /><small>Choose Frequency</small></a></li>
                <li><a class="nav-link" href="#step-4">Step 4<br /><small>Review</small></a></li>
            </ul>
            <%= form_for @order_options, url: vehicles_path, html: { id: 'vehicle-form' }, local: true do |f| %>
                <div class="tab-content">
                    <div id="step-1" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                            <h3>Select Vehicle</h3>
                            <%= f.label :Make %>
                            <%= select_tag "", options_from_collection_for_select(@makes, "id", "make"), 
                                id: "make-selector", include_blank: true, class: 'form-control make-selector' %>
                            <%= f.label :Model %>
                            <%= select_tag "", "", id: "model-selector", include_blank: true, class: 'form-control model-selector' %>
                            <%= f.label :Year %>
                            <%= f.select :vehicle_id, 'vehicle_id', { include_blank: true }, { id: 'vehicle-id', class: 'form-control year-selector' } %> 
                        </div>
                    </div>
                    <div id="step-2" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col col-md-6 offset-md-3">
                            <h2>Select Wiper Type</h2><br></br>
							<div class="btn-group btn-group-toggle" data-toggle="buttons"> 
								<div class="col">
									<div class="card mb-6 rounded-3 shadow-sm text-center">
										<div class="card-header py-2">
											<h4 class="my-0 fw-normal">Beam Wiper</h4>
										</div>
										<div class="card-body">
											<h4 class="card-title pricing-card-title">$19.99<small class="text-muted fw-light">/pair</small></h4>
											<ul class="text-left">
											  <li>Aerodynamic design.</li>
											  <li>Premium natural rubber.</li>
											  <li>Zinc-aluminum metal frame</li>
											  <li>Guaranteed for over 200,000 wipes.</li>
											</ul>
                                            <label class="btn btn-outline-primary btn-lg mt-2 mb-2"> 
                                                <%= f.radio_button :wipertype, 'beam', :id => 'beam-button', :style => 'visibility:hidden; height:0px; width:0px;' %>Beam 
                                            </label> 
										</div> 
									</div>
								</div>
								<div class="col">								
									<div class="card mb-6 rounded-3 shadow-sm text-center">
									  <div class="card-header py-2">
										<h4 class="my-0 fw-normal">Hybrid Wiper</h4>
									  </div>
										<div class="card-body">
                                            <h4 class="card-title pricing-card-title">$22.99<small class="text-muted fw-light">/pair</small></h4>
                                            <ul class="text-left">
                                            <li>Superior aerodynamic design.</li>
                                            <li>Best for ice and snow.</li>
                                            <li>Premium natural rubber.</li>
                                            <li>Zinc-aluminum metal frame</li>
                                            <li>Guaranteed for over 200,000 wipes.</li>
                                            </ul>
                                            <label class="btn btn-outline-primary active btn-lg mt-2 mb-2">
                                                <%= f.radio_button :wipertype, 'hybrid', :id => 'hybrid-button', :style => 'visibility:hidden; height:0px; width:0px;' %>Hybrid
                                            </label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                    <div id="step-3" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 col-md-6 offset-md-3">
                            <h2>Select Frequency</h2><br></br>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 mb-2">
                                    <%= f.radio_button :frequency, 'six_months', :id => 'six_months-button' %>Every 6 Months
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2">
                                    <%= f.radio_button :frequency, 'nine_months', :id => 'nine_months-button' %>Every 9 Months
                                </label>
                                <label class="btn btn-outline-primary btn-lg col-12 col-md-3 offset-md-1 mb-2">
                                    <%= f.radio_button :frequency, 'one_year', :id => 'year-button' %>Every 12 Months
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="step-4" class="mt-4 tab-pane smartwizard-tab" role="tabpanel">
                        <div class="col-12 mb-4">
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-8 text-center">
                                    <div class="border border-secondary rounded p-2  ml-2 mr-2 ">
                                        <h4>Vehicle</h4>
                                        <p id="vehicle-preview"></p>
                                        <h4>Type</h4>
                                        <p id="wipertype-preview"></p>
                                        <h4>Frequency</h4>
                                        <p id="frequency-preview"></p>
                                    </div>
                                </div>                                    
                            </div>
                        </div>
                        <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto">
                            <%= f.submit "Place Order", class: "btn btn-success mb-4 w-100" %>
                            <a class="btn btn-danger w-100 mb-4" type="button" href="<%= user_path(id: @user_id) %>">Cancel Changes</a>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>